/*************/
/* CSS RESET */
/*************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  zoom: reset;
  touch-action: manipulation;
}

body {
  margin: 0;
  overflow: hidden;
  /* transform: translate(40%); */
}


/*******************/
/* GENERAL STYLING */
/*******************/
main {
	width: 100%;
	height: 100vh;
	background-image: url("../media/crowned-victory_background.jpg");
	background-position: bottom;
	background-size: cover;
	background-color: black;
  }

#bm {
	width: 20em;
	position: absolute;
}

#bl {
	width: 20em;
	position: absolute;
	right: 0;
}


/******************/
/* LOADING SCREEN */
/******************/
#loading-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height: 100%;
    width: 177.77777778vh; /* 100 * 1920 / 1080 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 1080 / 1920 */
	z-index: 1;
	pointer-events: none;
}


/*****************/
/* ATTACK SCREEN */
/*****************/
#attack-screen {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
    height: 100%;
    width: 177.77777778vh; /* 100 * 1920 / 1080 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 1080 / 1920 */
	/* z-index: 1; */
	pointer-events: none;
  /* display: none; */
}

/* .visible {
  display: block !important;
}

.invisible {
  display: none !important;
} */


/********/
/* MENU */
/********/
header {
	position: absolute;
	top: 2.4em;
	/* left: 10vw; */
	/* transform: translate(-50%); */
	display: flex;
	z-index: 1;
  cursor: move;
}

header menu:first-of-type {
	display: flex;
	list-style: none;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 2em;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

header menu:nth-of-type(2) {
	display: flex;
	list-style: none;
}

menu button {
	width: 5em;
	height: 5em;
	border-radius: 50%;
}

menu:first-of-type li:nth-of-type(2) {
	margin: 0 1em;
}

menu:nth-of-type(2) li:first-of-type {
	margin: 0 1em 0 2em;
}


/****************************************************/
/* FOG (https://codepen.io/braedencraig/pen/dBVKzO) */
/****************************************************/
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 20s linear infinite, foglayer_moveme 30s linear infinite;
  -moz-animation: foglayer_01_opacity 20s linear infinite, foglayer_moveme 30s linear infinite;
  animation: foglayer_01_opacity 20s linear infinite, foglayer_moveme 30s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 42s linear infinite, foglayer_moveme 26s linear infinite;
  -moz-animation: foglayer_02_opacity 42s linear infinite, foglayer_moveme 26s linear infinite;
  animation: foglayer_02_opacity 42s linear infinite, foglayer_moveme 26s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02,
    #foglayer_03 .image01, #foglayer_03 .image02 {
      width: 100%;
    }
  }





